@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --heading: 'Playfair Display', sans-serif;
    --body-text: 'Lato', sans-serif;

    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;

    --bright-yellow: 54, 100%, 67%;
    --warm-yellow: 43, 96%, 59%;
    --chrome-blue: 206, 22%, 85%;
    --light-blue: 200, 58%, 80%;
    --green-blue: 170, 36%, 65%;
    --dark-green-blue: 170, 37%, 54%;
    --green: 103, 47%, 31%;
    --brown: 26, 36%, 25%;
    --outline: 0, 0%, 85%;
  }

  .dark {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;

    --bright-yellow: 54, 100%, 67%;
    --warm-yellow: 43, 96%, 59%;
    --chrome-blue: 206, 22%, 85%;
    --light-blue: 200, 58%, 80%;
    --green-blue: 170, 36%, 65%;
    --dark-green-blue: 170, 37%, 54%;
    --green: 103, 47%, 31%;
    --dark-green: 103, 48%, 25%;
    --outline: 0, 0%, 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply py-2 tracking-wide font-playfair-display text-lg;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-base font-playfair-display;
  }
}

@layer utilities {
  .h-center {
    @apply flex justify-center;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}